<?xml version="1.0" encoding="utf-8"?>

<odoo>


    <menuitem
            id="approvals_menu_root"
            name="Multi Level Approval"
            web_icon="approvals,static/description/icon.png"
            groups="base.group_erp_manager"
            sequence="0"/>

    <menuitem
            id="menu_approval_root"
            name="Configuration"
            parent="approvals_menu_root"
            groups="base.group_erp_manager"
            sequence="0"/>


<menuitem
            id="submenu_approval_root"
            name="Multi Level Approval"
            action="menu_approval_action"
            parent="menu_approval_root"
            groups="base.group_erp_manager"
            sequence="1"/>

</odoo>